@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-sans);
  background-color: #f8fafc;
  /* Slate 50 */
}